.wcm-header{
	background-color: #596069
}

.side-nav {
	position: fixed;
    top: 60px;    
    height: 93%;
    width: 15%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(49,58,70,1);
}

.main-nav {	
    position: absolute;
    top: 60px;
    left: 16%;    
    height: 93%;
    width: 84%;
    overflow-x: auto;
    overflow-y: auto;    
}